
@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) {

  /* Hide tab-bar */
  #tabbrowser-tabs { visibility: collapse !important; }
  #titlebar {
      color: transparent;   
  }

  /* Hide nav-bar */
  #navigator-toolbox {
      position: relative;
      z-index: 1;
      overflow: hidden;
      max-height: 28px;
      transition: max-height 0.2s ease-out;
  }
  #navigator-toolbox:hover {
      overflow: show;
      transition: 0.2s; 
      max-height: 100px;
      transition: max-height 0.2s ease-in;
  }
}


