
@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) {

  /* Hide tab-bar */
  #tabbrowser-tabs { visibility: collapse !important; }
  #titlebar {
      color: transparent;   
  }

  /* Hide nav-bar - use 34px if tab-bar has icon, 20px if no icon */
  #navigator-toolbox {
      overflow: hidden;
      max-height: 20px; 
      transition: all 1s;
  }
  #navigator-toolbox:hover {
      overflow: inherit;
      max-height: 500px;
      transition: all 1s;
  }

  #navigator-toolbox:focus-within {
      overflow: inherit;
      max-height: 400px;
      transition: all 1s;
  }

  /* Hide nav-bar - another approach as backup */
  /*
  #main-window:not([customizing]) #navigator-toolbox:not(:hover) #nav-bar:not(:focus-within) {
    opacity: 0;
    margin-top: -41px;
  }
  #main-window:not([customizing]) #nav-bar{
    transition: margin-top 700ms ease-in-out;
  }
  */
}

